<header class="header bg-blue-grey">
  <div class="header-inner">
    <ul class="header-items">
      <li class="app-logo"> <a href="" > Sample Invoice </a> </li>
      <li class="pull-right"> 
        <ul class="header-icon-actions">
          <li class="dropdown">
            <a class="dropdown-toggle action" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span>Welcome {{ ap.username.userName }}</span>
              <i class="zmdi zmdi-more-vert"></i> 
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <i class="md md-person"> </i>  Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="ap.signout()"> <i class="md md-settings-power"></i> Sign out </a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
