<ui-view></ui-view>

<ax-block-header title="{{ ap.pageTitle }}"></ax-block-header>
<ax-card title="" ng-if="!appIndex.templateUrl">
  <!--<div class="card-left-padding">
    <a class="action-new" href="#/app/{{ appIndex.model }}/new"> Add </a>
  </div>-->
  <ax-table 
    headers="appIndex.headers" 
    content="appIndex.records" 
    sortable="appIndex.sortable" 
    filters="ap.search" 
    custom-class="ap.custom"
    model="appIndex.model"
    count="appIndex.count">
  </ax-table>
  <nav mfb-menu position="br" effect="zoomin" label="" 
    active-icon="fa fa-pencil" 
    resting-icon="fa fa-plus" toggling-method="click">
    <button mfb-button icon="fa fa-pencil" label="New {{ appIndex.model }}" 
      ng-click="appIndex.goToNew()"></button>
  </nav>
</ax-card>

<ax-card title="" ng-if="appIndex.templateUrl">
  <div ng-include src="appIndex.templateUrl"></div>
</ax-card>